.video {
    margin-left: -8px;
    margin-top: -4em;
    background-color: black;
}

.about {
    color: red;
    margin-top: 12em;
    width: 350px;
    height: 300px;
    background-color: black;
    margin-left: 450px;
}

.Us {
    font-family: 'Spartan', sans-serif;
    color: white;
    font-size: 25px;
}

.about-us {
    margin-left: 450px;
    margin-top: -7em;
}

.about-s {
    font-family: 'Spartan', sans-serif;
    color: white;
    font-size: 10px;
}

.logo-dark {
    width: 250px;
    height: 200px;
}

.logo-br {
    margin-left: 900px;
    margin-top: -15em;
}

.store {
    width: 500px;
    height: 400px;
    background-color: red;
    float: left;
    margin-top: 20em;
    margin-left: 250px;
}

.shop {
    width: 500px;
    height: 400px;
    background-color: green;
    float: left;
    margin-top: 20em;
}

.roma {
    width: 500px;
    height: 400px;
}

.enzo {
    width: 500px;
    height: 400px;
}