.border {
    border-style: ridge;
    border: white;
    height: 1000px;
    margin-left: 350px;
    color: gold;
}

.wiki {
    color: black;
    margin-top: -45em;
    margin-left: 660px;
    font-size: 20px;
}

.picture1 {
    height: 1005px;
    background-color: white;
    margin-left: -1em;
    margin-top: -19.1em;
    display: block;
}

.picture2 {
    width: 270px;
    height: 1005px;
    background-color: white;
    margin-left: 1157px;
    margin-top: -62.8em;
    display: block;
}

.f1 {
    font-size: 12px;
    margin-left: -270px;
    margin-top: 10em;
}

.greem {
    width: 330px;
    height: 220px;
    background-color: white;
    margin-top: -42em;
    margin-left: 400px;
    border-style: groove;
    border-color: #1acbb0;
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    border-left: 2px;
    border-top-right-radius: 10px;
    border-bottom: 2px;
    ;
}

.merc {
    color: black;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    margin-top: em;
    margin-left: 14px;
}

.pip {
    width: 14px;
    height: 3px;
    background-color: #1acbb0;
    margin-left: 2px;
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: -2.1em;
}

.img {
    width: 30px;
    height: 30px;
    display: block;
    background-color: white;
    margin-left: 290px;
    margin-top: -1em;
    border-top: 2px;
    border-left: 2px;
    border: none;
}

.mer {
    margin-left: -10px;
    margin-top: -0.6em;
}

.listen-info {
    width: 320px;
    height: 1px;
    background-color: #1acbb0;
    margin-left: 2px;
    margin-top: 1em;
}

.lewis {
    width: 310px;
    height: 30px;
    font-family: 'Righteous', cursive;
    margin-left: 5px;
    margin-top: 1em;
    background-color: white;
    color: black;
    border-color: #1acbb0;
    border-style: groove;
    border-top: 2px;
    border-left: 2px;
    border-bottom-right-radius: 10px;
    border-width: thin;
}

.hamilton1 {
    margin-left: 305px;
    margin-top: -13em;
    width: 50px;
    height: 45px;
}

.hamilton {
    width: 50px;
    height: 45px;
    background-color: white;
    margin-top: -1em;
    margin-left: -40px;
    border: none;
    border-top: 2px;
}

.car {
    width: 335px;
    height: 100px;
    margin-left: -10px;
}

.ferrari {
    width: 330px;
    height: 220px;
    background-color: white;
    margin-left: 750px;
    margin-top: -14em;
    border: thin;
    border-color: red;
    border-style: groove;
    border-left: 2px;
    border-bottom: 2px;
    border-top-right-radius: 10px;
}

.pip-fr {
    width: 14px;
    height: 3px;
    background-color: red;
    margin-left: 2px;
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-top: 2.1em;
}

.name-fr {
    color: black;
    font-family: 'Righteous', cursive;
    margin-left: 17px;
    margin-top: -1.8em;
    font-size: 20px;
}

.logo-fer {
    width: 50px;
    height: 50px;
    margin-left: 280px;
    margin-top: -30px;
}

.logo-fr {
    width: 50px;
    height: 50px;
    margin-top: -1.9em;
}

.line-fr {
    width: 320px;
    height: 1px;
    margin-top: -1.1em;
    background-color: red;
}

.lecklerk {
    color: black;
    font-family: 'Righteous', cursive;
}

.lk-logo {
    width: 50px;
    height: 45px;
    margin-top: -2.8em;
    margin-left: 270px;
}

.lk {
    width: 50px;
    height: 45px;
}

.line-car {
    width: 320px;
    height: 30px;
    margin-left: 1px;
    margin-top: -1.4em;
    border-color: red;
    border-style: groove;
    border-top: 2px;
    border-left: 2px;
    border-bottom-right-radius: 10px;
    border-width: thin;
}

.fr-cars {
    width: 335px;
    height: 100px;
    margin-top: 1.5em;
    margin-left: -10px;
}

.ferrari-bt {
    margin-left: 250px;
    margin-top: 3em;
}

.fb {
    text-decoration: none;
}